# ignore directory 
tmp/
# ignore subdirectory
bootstrap-4.1.3-dist.zip/
# ignore two file endings
*._old
*._backup
# ignore 2 files in img directory
img/.DS_Store
img/.Thumbs.db
# ignore 1 file ds store
.DS_Store